
:root {
  --header: #373F47;
  --body: #C3C9E9;
  --text: #5f5e57;
  --heading: #6C91C2;
  --outline: #AAABBC;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5%;
    color: var(--text);;
    background-image: 
    linear-gradient(to right, var(--header), #1d242a);
    border-bottom: 2px solid var(--outline);
  }

h1 {
  font-size: 300%;
  color: var(--heading);
}

h1::after {
    content: 'Dickinson';
    color: var(--outline);
    margin-left: 5px;
  }

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  font-size: 150%;
}

nav a {
  color: var(--outline);
  font-weight: bold;
  text-decoration: 3px underline;
}
 
#hero {
    height: 200px;
    width: 100%;
    background-image: url("../Assets/Image/2012.i518.033..sea\ ocean\ wave\ lighthouse.jpg");
    background-size: cover;
    background-position: center;
}
#hero-card {
  position: absolute;
  top: 170px;
  right: 30px;

}
body {
  background-color: var(--body);
  color: var(--text);

}

#about-me {
  color: var(--heading);
  font-size: 300%;
  clear: both;
  float: left;
  border-right: 3px solid var(--outline);
  width: 20%;
  padding: 2%;
  margin-bottom: 50px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 1.25%;
  margin-bottom: 50px;
}

#portfolio {
    color: var(--heading);
    font-size: 300%;
    clear: both;
    float: left;
    border-right: 3px solid var(--outline);
    width: 20%;
    height:1100px;
    padding: 2%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

section img {
  height: 250px;
  width: 33.33%;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  background-color: var(--outline);
  margin: 25px;
}

#large-image {
  width: 70%;
  height: 500px;
}

section img:hover {
  background-color: var(--heading);
}

 .card-header {
    position: relative;
    margin-bottom: -20px;
    border: 3px solid var(--outline);
    padding: 1%;
    border-radius: 15%;
}

#contact-me {
    color: var(--heading);
    font-size: 300%;
    clear: both;
    float: left;
    border-right: 2px solid var(--outline);
    width: 20%;
    padding: 2%;
}

@media screen and (max-width: 992px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #about-me, #portfolio, #contact-me{
    text-align: center;
    clear: none;
    float: none;
    border-right: none;
    border-bottom: 3px solid var(--outline);
    width: 100%;
  }

}









